{% extends 'base.html' %}
{% block content %}


<div class="container mt-5 mb-5">

    <h1>번역해ZOOM</h1>
    <hr>

    <form method="POST">
        {% csrf_token %}
        <div class="row mt-5">
            <div class="col-lg-5">
                <h4>번역전</h4>
                <textarea name="before" class="form-control mt-3" style="height: 300px;" placeholder="번역할 내용을 입력해주세요">{{ before }}</textarea>
            </div>

            <div class="col-lg-2 text-center" style="margin: auto">
                <h4>FROM</h4>
                <select class="form-select" name="from" size="3" aria-label="size 3 select example">
                    <option value="ko" {% if from == "ko" %}selected{% endif %}>Korean</option>
                    <option value="en" {% if from == "en" or not from %}selected{% endif %}>English</option>
                    <option value="ja" {% if from == "ja" %}selected{% endif %}>Japanese</option>
                    <option value="fr" {% if from == "fr" %}selected{% endif %}>French</option>
                </select>
                
                <button class="btn btn-secondary mt-3 mb-3">Translate</button>
                
                <h4>TO</h4>
                <select class="form-select" name="to" size="3" aria-label="size 3 select example">
                    <option value="ko" {% if to == "ko" or not to %}selected{% endif %}>Korean</option>
                    <option value="en" {% if to == "en" %}selected{% endif %}>English</option>
                    <option value="ja" {% if to == "ja" %}selected{% endif %}>Japanese</option>
                    <option value="fr" {% if to == "fr" %}selected{% endif %}>French</option>
                </select>
            </div>
            
            <div class="col-lg-5">
                <h4>번역후</h4>
                <textarea class="mt-3" style="height: 300px; width: 500px" disabled>{{ after }}</textarea>
            </div>
        </div>
    </form>


</div>    

{% endblock %}